build/
training-data/
*.wave
*.wav
*.npz
*.pth
*.pt
silero-models/
.pt1
split_common_voice/
*.jit
/data-processing/training-data/split_common_voice/
*.ckpt
*.pth
*.iml
*.gradle
/local.properties
/.idea/caches/
/.idea/libraries/
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
*.DS_Store
/build
/captures
*.externalNativeBuild
*.cxx
/local.properties
*.jar


# Default ignored files
/shelf/
/workspace.xml

venv/

